.container {
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.header h1 {
  margin: 0;
  font-size: 32px;
}

.header p {
  color: #9ca3af;
}

.header button {
  background: #f97316;
  color: white;

  border: none;

  padding: 12px 20px;

  border-radius: 12px;

  cursor: pointer;
}

.stats {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 20px;

  margin-bottom: 30px;
}

.card {
  background: #111827;

  color: white;

  padding: 25px;

  border-radius: 20px;

  display: flex;

  align-items: center;

  gap: 20px;
}

.icon {
  width: 55px;
  height: 55px;

  border-radius: 15px;

  background: #f97316;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
}

.card span {
  color: #9ca3af;
}

.card h2 {
  margin: 5px 0 0;

  font-size: 30px;
}

.grid {
  display: grid;

  grid-template-columns: 2fr 1fr;

  gap: 20px;
}

.mapBox,
.activity,
.locations {
  background: #111827;

  border-radius: 20px;

  padding: 25px;

  color: white;

  min-height: 250px;
}

.locations {
  grid-column: 1 / 3;
}

.mapBox {
  min-height: 450px;
}

@media (max-width: 900px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .locations {
    grid-column: auto;
  }
}

@media (max-width: 600px) {
  .stats {
    grid-template-columns: 1fr;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}
